<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#sidebar-collapse">
      <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to t("admin_panel"), admin_admins_path, id:"logo" %>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropbtn" href="#">
            <span class="glyphicon glyphicon-bell"></span>
            <span class="product-count" id="count_cart" >
              <%= @count_notify_noread %>
            </span>
            <%= t "Notify" %>
          </a>
          <div class="dropdown-content noti">
            <%= render partial: "layouts/notification_message_item",
              collection: @notification_messages, as: :message %>
          </div>
        </li>
       <li class="dropdown" >
          <a class="dropbtn" href="#">
            <span class="glyphicon glyphicon-cog"></span>
            <%= t "profile" %>
          </a>
          <div class="dropdown-content">
            <%= link_to t("your_website"), root_path %>
            <%= link_to t("log_out"), logout_path %>
          </div>
        </li>
      </ul>
  </div>
</nav>
